################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dataverse REST Builder/CopilotIndices/0.2.1653.9816
/.vs/Dataverse REST Builder/FileContentIndex
/.vs/DRB/v17
